{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "global.css" %}" />
    {% block css_files %}{% endblock %}
  </head>
  <body>
    <header id="site-header"> 
      <nav id="site-navigation">
        <a href="{% url "index-page-name" %}">My Blog</a>
        <div class="right-menu-items">
          <a href="{% url "read-later-name" %}">Read Later</a>
          <a href="{% url "posts-page-name" %}">Posts</a>
        </div>
      </nav>
    </header>

    {% block content %}{% endblock %}
  </body>
</html>
