<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'nature_facts/styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <p>Grass is green.</p>

    <hr />

    <p>
      Below is our template variable. title filter will capitalize the text.
    </p>
    <p>{{ activity|title }} is fun. Practice {{ activity }} often.</p>
  </body>
</html>
