body {
  margin: 0;
  background-color: beige;
}

#site-header {
  background-color: darkolivegreen;
}

#site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-inline: 20px;
}

#site-navigation a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color:darksalmon
}

#site-navigation .right-menu-items a {
  margin-left: 12px;
}

#site-navigation .right-menu-items a:hover {
  text-decoration: underline;
}
